@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "poppins";
  src: url("./assets/fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "poppins-semiBold";
  src: url(./assets/fonts/poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "poppins-Bold";
  src: url(./assets/fonts/poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: "poppins-extraBold";
  src: url(./assets/fonts/poppins/Poppins-ExtraBold.ttf);
}

*{
  transition-duration:300ms;
}

h1{
  font-family: "poppins-extraBold";
}
h2,
h3 {
  font-family: "poppins-bold";
}
h4,h5,h6,a,button,li {
  font-family: "poppins-semibold";
}

p,div,span{
  font-family: "poppins";
}

:root{
--swiper-navigation-color: #fff
--swiper-pagination-color: #fff
}
 .swiper-button-next,
 .swiper-button-prev {
  scale: 0.75;
 }
 
.swiper-button-prev{
  left: -6px;
  color: orangered;
}
.swiper-button-next{
  right: -6px;
  color: orangered;
}